/* ===== Form design ===== */
body {

  /* height: 200px; */
  /* margin: auto; */
  /* overflow: hidden; */
  margin: auto;
  background-color: cadetblue;
}

/* form {
  margin: 200px auto 0 auto;
  display: flex;
  flex-direction: column;
}

input {
  width: 200px;
  margin: 10px auto;
  height: 30px;
  padding: 0 10px;
  border-radius: 4px;
} */

/* ===== Card Styling ===== */


/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */


.card {
  width: 60%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* transition: 0.3s; */
  /* width: 16.2%;
  height: 10%; */
}

.success{
  width: 50%;
  margin: auto;
  justify-content: center;
}
h1
{
  padding: 1em;
  margin: auto;
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}

img {
  border-radius: 5px 5px 0 0;
}

.box1 {
  width: 50%;
  background-color: #000;
  color: #fff;
  opacity: .5;
}

.box2 {
  width: 50%;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  opacity: .5;
}

.box {
  /* margin: auto; */
  margin: auto;
  width: 50%;
  padding: 2em;
  padding-bottom: 1em;
  padding-top: 1em;
  line-height: 1.7;
}